.main-bg-black{
	background-color: #000000;
}

.main-bg-white{
	background-color: #FFFFFF;
}

.variable-bg-red{
	background-color:  #E63246;
}

.variable-bg-blue{
	background-color: #4B6EB9!important;
}

.variable-bg-green{
	background-color: #55B432!important;
}

.variable-bg-purple{
	background-color: #874BA0!important;
}



.text-gilroy, .text-gilroy * {
	font-family: "Gilroy";
}


.text-verdana, .text-verdana * {
	font-family: "Verdana";
}



.text-black, .text-black * {
	color: #000000!important;
}

.text-white, .text-black * {
	color: #FFFFFF!important;
}

html, body{
	height: 100%;
}